@use '@angular/material' as mat;
:root {
    @include mat.core-overrides((
      app-background-color: #121212,
      app-text-color: white
    ));
  }
  
  html {
    color-scheme: dark;
  }
  
  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--mat-app-background-color);
    color: var(--mat-app-text-color);
  }
  